docs/xml/scheme.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="exercises">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="movementType" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string"/>
                            <xs:element name="description" type="xs:string" nillable="true"/>
                            <xs:element name="exercises">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="exercise" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="name" type="xs:string"/>
                                                    <xs:element name="url" type="xs:anyURI" minOccurs="0"/>
                                                    <xs:element name="description" type="xs:string" minOccurs="0"/>
                                                </xs:sequence>
                                                <xs:attribute name="id" type="xs:int" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:int" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>